

@model IEnumerable<Bug>

<h2>Bug Tickets</h2>
<div style="display: block">
    <a href="/BugController1/InsertBug">Create a New Bug</a>
</div>
<table class="table">
    <tr>
        <th>Creator</th>
        <th>Bug Id</th>
        <th>Title</th>
        <th>Issue Summary</th>
        <th>Ticket Assigned to</th>
    </tr>
    @foreach (var bugTicket in Model)
    {
<tr>
    <!--This is how you route the main list to individulks pages by ids-->
    <!--  <td><a href=/Home/ViewProduct/product.ProductID>product.ProductID</a></td> /../Views/BugController1/ViewBug.cshtml -->
    <td>@bugTicket.Creator</td>
    <td><a href="~/BugController1/ViewBug/@bugTicket.Id">@bugTicket.Id</a></td>
    <td>@bugTicket.Title</td>
    <td>@bugTicket.Summary</td>
    <td>@bugTicket.Assigned</td>
</tr>
    }
</table>


