@model Bug
<h3>@Model.Title Information</h3>
<table class="table">
    <tr>
        <th>Product ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category ID</th>
        <th>On Sale</th>
        <th>StockLevel</th>
    </tr>
    <tr>
        <td>@Model.Creator</td>
        <td>@Model.Id</td>
        <td>@Model.Title</td>
        <td>@Model.Summary</td>
        <td>@Model.Assigned</td>
        
    </tr>
</table>