@model Bug
<h3>@Model.Title Information</h3>
<br />
<div style="display: block">
    <a href="/BugController1">Return to List</a>
    <a style="position:relative; left: 68%" href="/BugController1/UpdateBug/@Model.Id">Update @Model.Title</a>
</div>

<table class="table">
    <tr>  
        <th>Creator</th>
        <th>Bug Id</th>
        <th>Title</th>
        <th>Issue Summary</th>
        <th>Ticket Assigned to</th>      
    </tr>
    <tr>
        <td>@Model.Creator</td>
        <td>@Model.Id</td>
        <td>@Model.Title</td>
        <td>@Model.Summary</td>
        <td>@Model.Assigned</td>
        
    </tr>
</table>

