@model Bug
<h3>Bug Details</h3>
<br />
<div style="display: block">
    <a href="/BugController1">Return to List</a>
    <a style="position:relative; left: 68%" href="/BugController1/UpdateBug/@Model.Id">Update Bug Details</a>
</div>

<table class="table">
    <tr>  
        <th>Creator</th>
        <th>Bug Id</th>
        <th>Title</th>
        <th>Issue Summary</th>
        <th>Ticket Assigned to</th>      
    </tr>
    <tr>
        <td>@Model.Creator</td>
        <td>@Model.Id</td>
        <td>@Model.Title</td>
        <td>@Model.Summary</td>
        <td>@Model.Assigned</td>
    </tr>
</table>

<div style="display: block">
    @using (Html.BeginForm("DeleteBug", "BugController1", "Post"))
    {
        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete this product" />
    }
</div>

